<header>
  <h1>{{pageTitle}} {{nameUpperCase}} sales ends  {{salesEnd}}</h1>
  <h1>{{pageTitle}} {{name}} sales ends  {{getTimeFromNow}}</h1>
  {{!-- <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/projects">Projects</a></p> --}}
</header>