<%- include('includes/head.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
</head> 
<body>
<%- include('includes/navBar-buysell.ejs') %>
<div class="card-body">
  <% if(locals.message){ %>
    <div class="alert alert-<%=message.type%> alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <strong><%=message.intro%></strong> <%=message.message%>
    </div>
 
<% } %>
  <div class="row">
    <div class="col-sm-6 col-md-4 jsBtnList">
      <div class="card">
        <div class="card-body">
        
          <br>
          <h5 class="card-title"><strong>ASK: </strong><%= data.latestPrice %></h5>
          <input type="hidden" id="askPrice" name="askPrice" value="<%= data.latestPrice %>">
         
          <br>
          <label for="qtyAsk">Qty: </label>
          <input type="number" id="qtyAsk" name="qtyAsk" placeholder="0">
          <br><br>
          <!-- Button trigger modal -->
          <button type="button" id="buyTicket" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModalCenter" data-fetcher="buy">
            Buy
          </button>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-body">
          <br>
          <h5 class="card-title"><strong>BID: </strong><%= data.latestPrice %></h5>
          <input type="hidden" id="bidPrice" name="bidPrice" value="<%= data.latestPrice %>">
          <br>
          <label for="qtyBid">Qty: </label>
          <input type="number" id="qtyBid" name="qtyBid" placeholder="0">
          <br><br>
          <!-- Button trigger modal -->
          <button type="button" id="sellTicket" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModalCenter" data-fetcher="sell">
            Sell
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>Latest Update: <%= data.latestUpdate %> </strong></p>
          <h5><strong><%= data.companyName %> - <%= data.symbol %> </strong></h5>
          <input type="hidden" id="companyName" name="companyName" value="<%= data.companyName %>">
          <input type="hidden" id="companySymbol" name="companySymbol" value="<%= data.symbol %>">
          <h5>Latest Price: <%= data.latestPrice %> </h5>
          <h5>Price Change: <%= data.change %> </h5>
          <h5>High: <%= data.high %> </h5>
          <h5>Low: <%= data.low %></h5>
          <h5>High52wk: <%= data.week52High %></h5>
          <h5>Low52wk: <%= data.week52Low %></h5>
          <h5>Open: <%= data.open %></h5>
          <h5>Close: <%= data.previousClose %></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Account Holder: <strong><%= userData.name %></strong></h5>
          <br>
          <h5>Cash: $<%= userData.cash %></h5>
          <br>
          <h5>Equity: $<%= userData.equity %></h5>
          <br>
          <h5>Gain/Loss: $<%= gainLoss %></h5>
          <br>
          <!-- <a href="#" class="btn btn-primary">Portfolio</a> -->
          <form class="form-inline ml-lg-5" action="/api/v1/portfolio" method="get">
            <button type="submit" id="portfolioList" class="btn btn-primary">
              Portfolio
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="modalContent" class="modal-content">
      
    </div>
  </div>
</div>


<script src="/JS/modal.js"></script>
<script src="/JS/searchBox.js"></script>
<!-- <script src="/JS/fetchPortfolioList.js"></script> -->
<%- include('includes/end.ejs') %>