<div class="card-body">

  <div class="row">
    <div class="col-sm-6 col-md-4">

      <div class="card">
        <div class="card-body">
          <br>
          {{!-- <h5 class="card-title"><strong>ASK: </strong>{{data}}</h5> --}}
          <h5 class="card-title"><strong>ASK: </strong>{{data.latestPrice}}</h5>
          <br>
          {{!-- <p class="card-text"><strong>ASK:</strong></p> --}}
          <label for="qtyAsk">Qty: </label>
          <input type="number" id="qtyAsk" name="qtyAsk" placeholder="0">
          <br><br>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <br>
          <h5 class="card-title"><strong>BID: </strong>{{data.latestPrice}}</h5>
          <br>
          {{!-- <p class="card-text"><strong>BID:</strong></p> --}}
          <label for="qtyBid">Qty: </label>
          <input type="number" id="qtyBid" name="qtyBid" placeholder="0">
          <br><br>
          <a href="#" class="btn btn-primary">Sell</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          {{!-- <p class="card-text"><strong>BID:</strong></p> --}}
          <h5>Symbol: <strong>{{curValue}}</strong></h5>
          <h5>High: {{data.high}} </h5>
          <h5>Low: {{data.low}}</h5>
          <h5>High52wk: {{data.week52High}}</h5>
          <h5>Low52wk: {{data.week52Low}}</h5>
          <h5>Open: {{data.open}}</h5>
          <h5>Close: {{data.previousClose}}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          {{!-- <p class="card-text"><strong>BID:</strong></p> --}}
          <h5>Account Holder: <strong>{{u.name}}</strong></h5>
          <br>
          <h5>Cash: ${{u.cash}}</h5>
          <br>
          <h5>Equity: ${{u.equity}}</h5>
          <br>
          <h5>Gain/Loss: ${{u.equity}}</h5>
          <br>
          <a href="#" class="btn btn-primary">Portfolio</a>
        </div>
      </div>
    </div>
  </div>

</div>